
<div class="outer" style="margin: 20px 0">

  <div class="container">
    <hr>
    <h1>Admin Dashboard</h1>
    <hr>
    <div class="btn-group" role="group" aria-label="Basic example">

      <button type="button" class="btn btn-primary" routerLink="/doctors">Doctor Managment</button>
      <button type="button" class="btn btn-primary" routerLink="/nurses">Nurse Managment</button>
      <button type="button" class="btn btn-primary" routerLink="/patient">Patient Managment</button>
      <button type="button" class="btn btn-primary" routerLink="/treatment">Treatment Managment</button>
      <button type="button" class="btn btn-primary" routerLink="/routine">Dialysis Routine Managment</button>
      <button type="button" class="btn btn-primary" routerLink="/signs">Patient Vital Signs Managment</button>
      <button type="button" class="btn btn-primary" routerLink="/visits">Patient Hemodialysis Visits Managment</button>
      <button type="button" class="btn btn-primary" routerLink="/summery">Clinical Summery Report Managment</button>
      <button type="button" class="btn btn-primary" routerLink="/upcoming">Upcoming Session Managment</button>

    </div>
  </div>
</div>

